# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Distribution / Build
build/
dist/
*.spec
*.egg-info/
manifest.json

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large static assets (if they are copies)
streamlit_static/
